/* Portfolio.css */

.portfolio-card {
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .portfolio-card:hover {
    transform: translateY(-5px); /* Add hover effect */
  }
  